<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário com Flash-What the fuck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Cadastro Didático</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}

      <div class="field">
        {{ form.nome.label }}
        {{ form.nome(class="form-control", placeholder='Digite seu nome') }}
        {% for error in form.nome.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="field">
        {{ form.email.label }}
        {{ form.email(class="form-control", placeholder='Digite seu E-Mail') }}
        {% for error in form.email.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>

      {{ form.submit(class='submit-btn') }}
    </form>

    <p class="voltar"><a href="{{ url_for('index') }}">Voltar</a></p>
  </div>
</body>
</html>